@import '_root'
@import '_reset'

body
	line-height: 1.25
	font-size: 16px
	hont-weight: 400
	font-family: var(--font-family-base)
	color: var(--typography-common)

#__nuxt
	min-height: 100vh
	background-color: var(--document)
